@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

.berkimg {
  width: 900px;
}
.desc {
  margin: 1rem;
  font-size: 2rem;
}

.explore button {
  font-family: "Lexend Deca";
  margin: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
}

.explore button:hover {
  color: #77b0aa;
  border-color: #77b0aa;
}
.mainBackground {
  font-family: "Lexend Deca";
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 254, 254, 0.799);
  z-index: 0;
}
.titleContainer {
  color: #090909; /* Or any other color */
  text-align: center;
  z-index: 2;
  position: relative;
  font-size: 90px;
}
